@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:ital@1&display=swap');
:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Elementos base*/

body {
    background: var(--preto);
    font-family: 'Roboto', sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    text-decoration: none;
    color: var(--vermelho);
    font-family: 'Roboto', cursive;
    font-size: 40px;
}

.logo i {
    margin-right: 8px;
}

header .logo:hover {
    color: red;
}

header nav {
    margin-right: 10px;
    margin: 15px 15px;
}

header nav a {
    text-decoration: none;
    color: #FFF;
    margin-right: 10px;
    margin-bottom: 15px;
}

header nav a:hover {
    color: #AAA;
}


/*Filme principal*/

.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('https://www.themoviedb.org/t/p/original/ng6SSB3JhbcpKTwbPDsRwUYK8Cq.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 30px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.item:hover {
    border: 2px solid rgb(165, 152, 152);
    border-radius: 5px;
    transition: .2s ease all;
}

.carrosel-filmes {
    margin-top: 5px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    position: fixed;
    z-index: 2;
    top: -100%;
    display: block;
    transition: 700ms;
}

.modal {
    width: 90%;
    height: 90%;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('https://www.themoviedb.org/t/p/original/ng6SSB3JhbcpKTwbPDsRwUYK8Cq.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 45px auto;
}

.modal i {
    display: inline-block;
    font-size: 70px;
    margin: 22% 46%;
    cursor: pointer;
}

.modal span {
    float: right;
    font-size: 45px;
    color: black;
    margin-right: 2%;
    margin-top: 1%;
    cursor: pointer;
}

.modal span:hover {
    color: var(--vermelho);
    transition: 350ms;
}

.bg-info {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.70);
    position: fixed;
    z-index: 2;
    top: -300%;
    display: block;
    transition: 700ms;
}

.bg-info .info {
    width: 80%;
    height: 90%;
    background: var(--preto);
    border: 1px solid #000;
    border-radius: 5px;
    margin: 60px auto 0 auto;
}

.info .conteudo img {
    width: 22%;
    height: 20%;
    border: 1px solid #AAA;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: -17.5%;
    margin-bottom: 2%;
}

.conteudo .titulo {
    width: 25%;
    height: 23%;
    padding-left: 1%;
    margin-left: 1%;
}

.titulo h2 {
    text-align: left;
    font-size: 20px;
}

.conteudo .info-descricao {
    display: inline-block;
    margin-left: 35%;
    margin-right: 20%;
    margin-top: 10%;
    padding: 1%;
}

.conteudo .diretores {
    width: 50%;
    height: 60%;
    margin-left: 35%;
    margin-right: 40%;
    margin-top: -10%;
    display: inline-block;
}

.diretores .esquerda {
    width: 20%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 18%;
    text-align: center;
}

.diretores .centro {
    width: 20%;
    margin-right: 19%;
    display: inline-block;
    text-align: center;
    margin-top: 20%;
}

.diretores .direita {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-top: 20%;
}

.info span {
    float: right;
    font-size: 45px;
    color: #AAA;
    margin-right: 15px;
    cursor: pointer;
}

.info span:hover {
    color: var(--vermelho);
    transition: 350ms;
}


/*Rodape*/

footer {
    background: rgba(0, 0, 0, .50);
    height: 40px;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}